<h1>Your Shopping Cart</h1>
<ul>
  <% session[:cart].each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<%= form_for("/") do %>
  Item: <%= text_field_tag "item" %>
  <%= submit_tag "Add to Cart"
<% end %>
